<style>
            .nav2{
            height:60px;
            display: flex;
            align-items:center;
            margin-right: auto;
            margin-left: 10vh;
            align-self: flex-start;
            margin: 8vh;
            margin-top: 2vh;
            margin-bottom: 3vh;
        }
        .iconcontain{
            display: flex;
            gap:4vh;
            cursor: pointer;
        }
        i{
            color: rgb(93, 92, 92);
            font-size:16px
        }
        i:hover{
            color: rgb(21, 21, 21);
        }
        .icon{
            text-align: center;
        }
        .icon:hover{
            color: rgb(21, 21, 21);
        }
        .text{
            font-size: small;
        }
</style>

<div class="nav2">
    <div class="iconcontain">
        <div class="icon">
            <i class="fa-solid fa-fire"></i>
            <div class="text">Trending</div>
        </div>
        <div class="icon">
            <i class="fa-solid fa-bed"></i>
            <div class="text">Rooms</div>
        </div>
        <div class="icon">
            <i class="fa-solid fa-mountain-city"></i>
            <div class="text">Iconic cities</div>
        </div>
        <div class="icon">
            <i class="fa-solid fa-mountain"></i>
            <div class="text">Mountains</div>
        </div>
        <div class="icon">
            <i class="fa-brands fa-fort-awesome"></i>
            <div class="text">Castles</div>
        </div>
        <div class="icon">
            <i class="fa-solid fa-person-swimming"></i>
            <div class="text">Pools</div>
        </div>
        <div class="icon">
            <i class="fa-solid fa-tents"></i>
            <div class="text">Camping</div>
        </div>
        <div class="icon">
            <i class="fa-solid fa-tractor"></i>
            <div class="text">Farms</div>
        </div>
        <div class="icon">
            <i class="fa-solid fa-snowflake"></i>
            <div class="text">Arctic</div>
        </div>
    </div>
</div>