<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <title>UrbanEscapes</title>
    <style>
        .container-signup{
            height:100vh;
            width:100svw;
            display: flex;
            align-items: center;
            justify-content: end;
            flex-direction: column;
            background: linear-gradient(33deg, rgb(216, 245, 251) 35.56%, rgb(251, 165, 116) 89.21%);

        }

        .form-signup{
            width:65%;
        }
    </style>
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="container-signup">
        <form class="form-signup" action="/listing/add-new" method="POST" enctype="multipart/form-data" id="form">
            <label for="form" style="font-size: 60px;margin-left: 300px;font-weight:bold;color:#000000;border-radius: 700px;width: 40vw;padding-left:3vw;  font-family: montserrat;font-style: italic;margin-top: 70px;">Add New Hotel</label>
            <div class="mb-4 mt-3">
              <label for="title" class="form-label" style="color: black;font-weight: bold;font-size: 30px;font-family: montserrat;font-style: italic;">Title</label>
              <input type="text" placeholder="Enter Title" class="form-control" id="title" name="title" style="border: 0.5px solid rgb(206, 206, 206);margin-right: 2px;width: 30vw;font-size:18px;font-weight: bold;font-family: montserrat;font-style: italic;">
            </div>
            <label for="textarea" class="form-label"style="color: black;font-weight: bold;width: 30vw;font-size: 30px;font-family: montserrat;font-style: italic;">Description</label>
            <div class="form-floating mb-4" id="textarea">
              <!-- Floating label element -->
              <label for="floatingTextarea" style="font-weight: bold; color: white; font-family: montserrat;">Description</label>
              
              <!-- Textarea with placeholder -->
              <textarea class="form-control" placeholder="Enter description" id="floatingTextarea" name="desc" 
                        style="resize:none;font-weight: bold;color:#000000;font-family: montserrat;font-style: italic;"></textarea>
            </div>
              <div class="mb-3">
                <label for="formFileMultiple" class="form-label"style="color: black;font-weight: bold;font-size: 30px;font-family: montserrat;font-style: italic;">Image</label>
                <input class="form-control" type="file" id="formFileMultiple" multiple name="image">
              </div>
              <div style="display: flex; width:100%; gap: 15vh;">
                <div class="mb-4 mt-3">
                    <label for="title" class="form-label"style="color: black;font-weight: bold;font-size:30px;font-family: montserrat;font-style: italic;">Price-Range</label>
                    <input type="text" class="form-control" id="title" placeholder="Enter Price-Range" name="price" style="border: 0.5px solid rgb(206, 206, 206);margin-right: 2px;font-family: montserrat;font-style: italic;">
                  </div>
                  <div class="mb-4 mt-3">
                    <label for="title" class="form-label"style="color: black;font-weight: bold;font-size:30px;font-family: montserrat;font-style: italic;">Location</label>
                    <input type="text" class="form-control" placeholder="Enter Location" name="location" style="border: 0.5px solid rgb(206, 206, 206);margin-right: 130px;font-family: montserrat;font-style: italic;">
                  </div>
              </div>
              <div class="mb-4 mt-3">
                <label for="title" class="form-label"style="color: black;font-weight: bold;font-size:30px;font-family: montserrat;font-style: italic;">Country</label>
                <input type="text" class="form-control" id="title" name="country" placeholder= "Enter Country" style="border: 0.5px solid rgb(206, 206, 206);margin-right: 10px;width: 20vw;font-family: montserrat;font-style: italic;">
              </div>
            <button type="submit" class="btn btn-primary" style="background-color:whitesmoke;color:black;font-family: montserrat;font-style: italic;">Create</button>
          </form>
    </div>
    <%- include("./partials/script.ejs") %>
</body>
</html>